<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>PDF</title>
</head>
<body>
  <div class='container'>
    <% if @tickets.present? %>
    Lista de tickets:
    <% @tickets.each do |ticket| %>
    <p>Ticket: <%= ticket.id %> | <%= ticket.status %> | <%= ticket.created_at %></p>
    <% end %>
    <% end %>
  </div>
</body>
</html>